@font-face {
    font-family: "Philosopher-Bold";
    font-display: swap;
    src: url("../fonts/Philosopher-Bold.woff") format("woff"), url("../fonts/Philosopher-Bold.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Philosopher-BoldItalic";
    font-display: swap;
    src: url("../fonts/Philosopher-BoldItalic.woff") format("woff"), url("../fonts/Philosopher-BoldItalic.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Philosopher-Regular";
    font-display: swap;
    src: url("../fonts/Philosopher-Regular.woff") format("woff"), url("../fonts/Philosopher-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Philosopher-Italic";
    font-display: swap;
    src: url("../fonts/Philosopher-Italic.woff") format("woff"), url("../fonts/Philosopher-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

header {
    font-family: "Philosopher-Regular";
}

section {
    font-family: "Philosopher-Regular";
}

footer {
    font-family: "Philosopher-Regular";
}

footer .footer-subtitle {
    color: #fff;
    padding-bottom: 20px;
}

footer a {
    color: #6d8f8c;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

footer a:hover {
    text-decoration: none;
    color: #fd7400;
}

footer li {
    margin-top: 8px;
}

.header-top-contacts {
    margin-top: 10px;
}

.fixed-top {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.header-top-contacts .nav-item .nav-link {
    color: #051019;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.header-top-contacts .nav-item .nav-link:hover {
    color: #fd7400;
}

.social-icons .nav-link {
    padding: 0!important;
    margin-left: 5px;
}

.social__link svg {
    width: 25px;
    height: 25px;
    fill: #959595;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    margin-top: 10px;
}

.social__link svg:hover {
    fill: #fd7400;
}

.navbar-light .navbar-toggler {
    margin-left: auto;
}

.navbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1%;
}

.navbar-right .dropdown-item {
    font-size: 17px;
}

.navbar-right .btn {
    color: #fd7400;
    border-color: #fd7400;
    border-radius: 15px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-right .btn:hover {
    color: #fff;
    border-color: #fd7400;
    background-color: #fd7400;
}

.navbar-nav .nav-item {
    padding-right: 1.2rem;
    font-size: 16px;
}

.navbar-nav .dropdown-item {
    font-size: 17px;
}

.nav-item .nav-link svg {
    width: 15px;
    height: 15px;
}

.form-section svg {
    width: 15px;
    height: 15px;
}

.modal-backdrop {
    opacity: 0.8 !important;
    z-index: 999 !important;
}

.modal-content {
    background-color: transparent !important;
    border: 0 !important;
    position: relative;
    top: 300px;
}

.modal-content .close {
    opacity: 1;
    font-size: 40px;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.navbar-form .form-group .form-control {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    height: 60px;
    font-size: 25px;
}

.navbar-form .form-group .modal-search svg {
    background-color: transparent;
    line-height: 32px;
    color: #fff;
    width: 35px;
    height: 35px;
    margin: auto !important;
    position: absolute;
    left: 83%;
    right: 0;
    top: 5%;
    bottom: 0;
}

.call-back .modal-content {
    background-color: #fff !important;
    width: 70%;
}

.call-back .modal-content .close {
    opacity: 1;
    font-size: 40px;
    color: #fd7400;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.navbar-default .navbar-collapse {
    border: none;
}

.navbar-default .navbar-form {
    border: none;
}

.slider {
    margin-top: 6.2%;
}

.carousel-item {
    position: relative;
}

.carousel-item img {
    max-height: 700px;
}

.slide-info {
    position: absolute;
    top: 20%;
    left: 16%;
    width: 500px;
}

.slide-info .slide-btn {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    background-color: #fff;
    border-radius: 30px;
    padding: 12px 35px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.slide-info .slide-btn:hover {
    color: #fff;
    background: #fd7400;
}

.slide-title {
    color: #fd7400;
    font-size: 50px;
}

.slide-offer {
    font-size: 22px;
    color: #fff;
}

.who {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    max-width: 1030px;
    padding-left: 80px;
}

.card-container .col-sm {
    padding: 0;
}

.card {
    text-align: center;
    min-height: 420px;
    margin-bottom: 3%;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.card:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card .img-wrapp {
    position: relative;
}

.card .img-wrapp .card-img-txt {
    position: absolute;
    top: 74%;
    left: 19%;
    font-size: 25px;
    color: #fff;
}

.card .img-wrapp .card-img-title {
    position: absolute;
    top: 74%;
    left: 12%;
    font-size: 25px;
    color: #fff;
}

.card .card-btn {
    margin-top: auto;
    height: 40px;
    border-radius: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.card .card-btn:hover {
    background-color: #fd7400;
    border: 0;
}

.card .card-txt {
    font-size: 14px;
}

.counter-item {
    text-align: center;
    color: #fff;
    height: 300px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 8%;
}

.counter-item .counter {
    font-family: "Philosopher-bold";
    margin: 10px 0;
    font-size: 25px;
}

.form-wrapper form {
    border: 1px solid #fd7400;
    border-radius: 10px;
    padding: 20px 10px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form-group .btn {
    font-family: "Philosopher-bold";
    text-transform: uppercase;
    font-size: 17px;
    border: 0;
    border-radius: 30px;
    padding: 8px 25px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #fff;
    background: #fd7400;
}

.form-group .btn:hover {
    background: #220d00;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.services .serv-item {
    margin: 10px;
}

.services .serv-item a {
    color: #000;
    text-decoration: none;
    text-align: center;
}

.services .serv-item a:hover {
    font-family: "Philosopher-bold";
}

.services .serv-item a img {
    width: 70px;
}

.second-slider .carousel-inner {
    padding: 50px 0;
}

.second-slider .carousel-inner .carousel-item {
    margin-left: 13%;
    text-align: center;
    color: #fff;
    font-size: 21px;
    line-height: 40px;
    font-weight: normal;
    font-style: italic;
    max-width: 800px;
    height: 300px;
}

.second-slider .carousel-inner .carousel-item img {
    width: 75px;
    border-radius: 50%;
}

.second-slider .carousel-inner .carousel-item blockquote {
    padding: 30px 0 0 0;
}

.second-slider .carousel-inner .carousel-item .name {
    color: #fd7400;
    font-style: normal;
    font-size: 16px;
}

.carousel-inner .carousel-item blockquote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.carousel-inner .carousel-item blockquote::before {
    content: "\201C";
    font-size: 70px;
    color: #fd7400;
    margin-right: 5%;
}

.carousel-inner .carousel-item blockquote::after {
    content: "\201D";
    font-size: 70px;
    color: #fd7400;
    margin-left: 5%;
}

.our-team .row .col-sm {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: auto;
}

.container .team {
    color: #fd7400;
}

.partner {
    margin-bottom: 3%;
}

.partner a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

.partner a img {
    width: 350px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.partner a img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.partner .partner-name {
    font-family: "Philosopher-bold";
    position: absolute;
    top: 78%;
    left: 15%;
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
}

.partner .btn {
    border-radius: 0;
    border: 0;
    background-color: #202020;
    height: 50px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.partner .btn:hover {
    background-color: #fd7400;
}

.footer-txt {
    color: #93a7a2;
    font-size: 16px;
}

.footer-contacts svg {
    width: 15px;
    height: 15px;
}

.footer-form-group {
    padding: 10px;
    background-color: #458995;
    border: 2px solid #fff;
    border-radius: 5px;
}

.footer-form-group .btn {
    color: #fff;
    background-color: #fd7400;
    border: 1px solid #fff;
    margin-top: 10px;
}

.footer-form-group .btn:hover {
    color: #fd7400;
    background-color: #fff;
}

.social-links {
    margin: 0 auto;
}

.social-links li {
    padding-left: 10px;
}

.social-links svg:hover {
    fill: #6c918f;
}

#button {
    display: inline-block;
    background-color: #fd7400;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
    -o-transition: background-color .3s, opacity .5s, visibility .5s;
    transition: background-color .3s, opacity .5s, visibility .5s;
    visibility: hidden;
}

#button::after {
    content: "\21E7";
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.page-title {
    margin-top: 120px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0 10px 0;
}


/*------------CONTACTS----------*/

.map iframe {
    margin-bottom: 0;
    padding: 0;
    display: block;
    width: 100%;
}

.contact-card {
    position: relative;
    bottom: 8%;
    background-color: #165153;
}

.form-section .btn:hover {
    background-color: #000;
    color: #fff;
}


/*---------------*/


/*-----------ABOUT US----------*/

.big-logo__wrapp picture img {
    width: 100%;
}

.about-wrapp .about-title {
    font-family: "Philosopher-regular";
    font-size: 25px;
}

.about-wrapp .about-txt {
    font-family: open sans, geneva, sans-serif;
    font-size: 16px;
}

.about-wrapp ol,
ul {
    font-size: 16px;
}

.about-wrapp li {
    padding-bottom: 10px;
}

.about-wrapp .about-txt span {
    font-weight: 700
}

.about-wrapp ul li::before {
    content: "\2911";
    padding-right: 10px;
}

.about-wrapp h4 {
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 15px;
}

.about-wrapp ol {
    padding-left: 25px;
    list-style-type: decimal-leading-zero
}


/*---------------*/


/*-----------INFO----------*/

.info {
    border-right: 1px solid #e2e2e2;
    padding: 0 30px 25px 10px;
}

.info img {
    width: 100%;
}

.info .info-title a {
    font-size: 30px;
    color: #000;
    text-decoration: none;
    transition: all .3s cubic-bezier(.15, .01, 1, 1.01);
}

.info .info-title a:hover {
    color: #fd7400;
}

.info a {
    color: #fd7400;
    text-decoration: none;
    transition: all .4s ease;
}

.info a:hover {
    text-decoration: none;
    color: #939393
}

.info .arrow::after {
    content: "\2911";
    color: #939393;
    padding-left: 10px;
}

.info .date-like .date {
    font-size: 11px;
}

.info .date-like .like svg {
    width: 20px;
    height: 20px;
    fill: #e7e8ea;
    cursor: pointer;
}

.info .date-like .like {
    fill: #fd7400;
}

.side-bar__inner {
    font-family: open sans, geneva, sans-serif;
}

.side-bar__inner .search-section .form-control {
    border: 1px solid #e2e2e2;
    border-right: 0;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.side-bar__inner .search-section .btn {
    border: 1px solid #e2e2e2;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.categories-links {
    line-height: 25px
}

.categories-links .small-link a {
    font-size: 12px;
    color: #fd7400;
    transition: all .3s ease-in-out;
}

.categories .small-link a:hover {
    text-decoration: none;
    color: #939393;
}

.categories-links .big-link a {
    font-size: 30px;
    color: #fd7400;
    transition: all .3s ease-in-out;
}

.categories .big-link a:hover {
    text-decoration: none;
    color: #939393;
}

.posts-wrapp .posts-list {
    margin: 0;
    padding: 0;
    position: relative;
}

.posts-wrapp .posts-list li {
    display: block;
    width: 33.3%;
    margin: 0;
    padding: 0;
    float: left;
}

.posts-wrapp .posts-list a {
    display: block;
    padding: 0 0 10px;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    color: #202020;
    border-color: #e0e0e0;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: all .3s ease;
}

.posts-wrapp .posts-list a:hover {
    text-decoration: none;
    color: #fd7400;
    border-bottom: 1px solid #fd7400;
}

.posts-wrapp .posts-list .active {
    color: #fd7400;
    border-color: #fd7400;
}

.wrapp {
    position: relative;
    min-height: 330px;
    overflow: hidden;
}

.posts-wrapp .posts-page {
    position: absolute;
    bottom: 0;
    margin-bottom: -330px;
    opacity: 0;
    transition: opacity 1s linear;
    transition: margin .4s cubic-bezier(0, .01, 1, 1.01);
}

.posts-wrapp .opened {
    margin-bottom: 0;
    opacity: 1;
}

.posts-wrapp .posts-page li {
    display: flex;
    line-height: 25px;
    color: #000;
    margin: 30px 0 0;
    padding: 0;
    position: relative;
}

.posts-wrapp .side-posts-img img {
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;
    width: 45px;
    height: 45px;
    margin: auto;
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;
}

.posts-wrapp .descrip {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 60px;
    position: relative;
}

.posts-wrapp .descrip a {
    font-family: 'Trebuchet MS', Helvetica, Garuda, sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: #202020;
    transition: all .3s ease;
}

.posts-wrapp .descrip a:hover {
    color: #fd7400;
}

.posts-wrapp .descrip abbr {
    text-decoration: none;
    margin-top: -2px;
    display: block;
}

.service-slider .carousel-item {
    position: relative;
    text-align: center;
}

.service-slider .slide-info {
    position: absolute;
    top: 44%;
    left: 14%;
    width: 250px;
}

.service-slider .big-txt {
    top: 38%;
}

.service-slider .slide-offer {
    font-size: 18px;
    font-family: "Philosopher-bold";
    color: #000;
    text-transform: uppercase
}


/*---------------*/


/*-------info blog--------*/

.blog .blog-txt {
    font-family: 'trebuchet ms', geneva, sans-serif;
    font-size: 12pt;
}

.blog .blog-title {
    font-family: 'trebuchet ms', geneva, sans-serif;
    font-size: 12pt;
    font-style: italic;
    font-weight: 700;
    padding: 20px 0;
}

.blog-contact .blog__contact-wrapp {
    background-color: #ededed;
    padding: 35px 10px;
}

.blog-contact .contact-title {
    font-family: Philosopher, palatino, serif;
    font-weight: 700
}

.blog-contact .contact-offer {
    font-family: Open Sans, geneva, sans-serif;
    font-size: 12pt;
}

.blog-contact .contact-offer span {
    font-size: 11pt;
    font-style: italic;
}

.open-form-page .number input {
    margin-right: 20px;
    padding-left: 15px;
    max-width: 200px;
    height: 40px;
    border: 1px solid #fcfcfc;
    border-radius: 25px;
    transition: all .3s ease;
}

.open-form-page .number input:focus {
    border: 1px solid #fd7400;
    outline: none;
}

.open-form-page .form-group .btn:hover {
    color: #fff;
}

.next-blog .next-blog-wrapp {
    border: 1px solid #ebebeb
}

.next-blog .next-blog-wrapp a {
    display: block;
    margin: 40px 0;
    color: #000;
}

.next-blog .next-blog-wrapp a::before {
    content: "\1F814";
    border: 1px solid #ebebeb;
    border-left: 0;
    padding: 5px;
    margin-right: 10px;
    transition: all .3s ease;
}

.next-blog .next-blog-wrapp a:hover:before {
    background-color: #fd7400;
    color: #fff;
    border-color: #fd7400;
}

.next-blog .next-blog-wrapp a:hover {
    color: #fd7400;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}


/* START: Accommodating for IE */

.flip-container:hover .back,
.flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front,
.flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


/* END: Accommodating for IE */

.flip-container,
.front,
.back {}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    min-height: 300px;
    width: 100%;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.back {
    background: #eaeaea;
    padding: 20px;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flipper {
    position: relative;
    margin: 30px 20px;
}

.flipper .front .flipper-title {
    text-transform: uppercase;
    font-size: 27px;
}

.back .btn{
    margin: 0 auto;
    color: #fff;
    height: 30px;
    width: 100px;
    background-color: #fd7400;
    border-radius: 30px;
    line-height: 15px;
    transition: all .3s ease-in-out;
}

.back .btn:hover{
    background-color: #0f0904;
    color: #fff;
}
